.header {
  border-bottom: 2px solid #f4f4f4;
  padding: 1rem 0;
  .info {
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 3px solid #DAA520;
    .location {
      font-weight: bold;
    }
  }
}