.pi-editor {
  border: 1px solid black;
  outline: none;
  margin: 1rem;
  padding: 2rem;
}

.pi-paragraph {
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: #f4f4f4;
}

.inline-toolbar {
  display: flex;
  .inline-toolbar-item {
    margin: 0 0.25rem;
    padding: 0.5rem;
    background-color: #f4f4f4;
    cursor: pointer;
  }

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .underline {
    text-decoration: underline;
  }

  .strikethrough {
    text-decoration: line-through;
  }

}
